@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0b0916;
  --text: hsl(0, 0%, 100%);

  --gray: #212425;
}

html,
#root {
  @apply h-[100vh] w-[100vw];
  font-family: "Kollektif", sans-serif;
}

html {
  background-color: var(--background);
  color: var(--text);
  overflow-x: hidden;
}

.sha {
  box-shadow:
    rgba(240, 46, 170, 0.4) 5px 5px,
    rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px,
    rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}

.blockShadow {
  box-shadow: #000 5px 5px;
}

.TextStroke {
  -webkit-text-stroke: #000 2px;
}

.bg-radial {
  background: radial-gradient(
    closest-side,
    rgba(132, 153, 229, 0.21) 0%,
    rgba(62, 21, 58, 0) 100%
  );
}

.bg-radial2 {
  background: radial-gradient(
    closest-side,
    rgba(229, 132, 220, 0.21) 0%,
    rgba(75, 30, 71, 0) 100%
  );
}
